

.container{
    padding: 0% 7% 1% 12%;
    margin: auto;
}


.innerContainer{
    width: 70%;
    padding: 3%;
}

.pageTitle{
    color: #f87d4e;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #f3dcd3;
    border-bottom-style: dashed;
    width: fit-content;
}

@media only screen and (max-width: 900px){
    .innerContainer{
        width: 90%;
    }
}


@media only screen and (max-width: 600px){
    .container {
        padding: 0.5rem;
    }

    .innerContainer{
        width: 100%;
    }

    .pageTitle{
        font-size: 24px;
    }

}

@media only screen and (max-width: 400px){
	.container{
    padding: 0.5rem;
}

}
