.container {
  padding: 0% 7% 10% 12%;
  display: flex;
}

.formContainer {
  width: 80%;
  padding: 3%;
}

.pageTitle {
  color: #f87d4e;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid #f3dcd3;
  border-bottom-style: dashed;
  width: fit-content;
}

.pageTitleThree {
  color: #f87d4e;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid #f3dcd3;
  border-bottom-style: dashed;
  width: fit-content;
}

.formLabel {
  color: rgb(119, 116, 116);
  font-weight: 400;
}

.addBox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.whiteBox {
  display: grid;
  place-items: center;
  width: 170px;
  height: 35px;
  background-color: #fff;
}

.addBox:hover {
  color: #f87d4e;
  border: 0.5px solid #f87d4e;
}

.formDiv {
  display: flex;
  gap: 20px;
  align-items: center;
}

.formitem {
  width: 50%;
}

@media only screen and (max-width: 1100px) {
  .container {
    padding: 0% 5% 1% 5%;
    display: flex;
  }
  .formContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    height: 100vh;
    padding: 0%;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    height: 100vh;
    padding: 0%;
  }
  .formContainer {
    width: 100%;
  }
  .search {
    width: 100%;
  }
  .topMenu {
    margin: 12% 0%;
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .addBox {
    font-size: 14px;
    width: 140px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }

  .pageTitle {
    font-size: 22px;
  }

  .formDiv {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    width: 100%;
  }

  .formitem {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 0.5rem;
  }
}
