.contain {
  width: 85%;
  margin: 10px auto;
}

.sideBar {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.logo {
  height: 60px;
  margin: 30px 0px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 14px;
}

.linkItem {
  display: grid;
  place-items: center;
  margin: 10px 0px;
  color: black;
}

.addBoxMob {
  display: none;
}

.whiteBoxMob {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .sideBar {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .contain {
    width: 95%;
    margin: 10px auto;
  }

  .addBoxMob {
    display: flex;
    font-size: 14px;
    width: 140px;
    margin-bottom: 20px;
  }

  .whiteBoxMob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 35px;
    color: black;
    background-color: #fff;
  }
}
